#
# This is the main configuration file of the little brothers database lbdb
#
# Everything you configure here can be overridden by the users config
# file which can be found at
# ~/.lbdbrc
# ~/.lbdb/lbdbrc
# ~/.lbdb/rc
# (evaluated with ascending priority!)
# 
# (c) 1999-2000 Roland Rosenfeld <roland@spinnaker.de>
#
# $Id$
#

#
# Select which methods you want to use in which order (ascending priority):
# (a space separated list)
#
# - m_inmail	 search the database created by lbdb-fetchaddr(1)
# - m_finger	 finger some hosts defined in variable M_FINGER_HOSTS
# - m_passwd	 search the local /etc/passwd file.
# - m_yppasswd	 search the NIS password database.
# - m_pgp2	 search your PGP 2.* keyring
# - m_pgp5	 search your PGP 5.* keyring
# - m_gpg	 search your GnuPG keyring
# - m_fido	 search the Fido nodelist converted by nodelist2lbdb(1)
# - m_abook	 query abook(1), the text based address book application.
# - m_addr_email query addr-email(1) from addressbook Tk-program.
# - m_muttalias  search $MUTTALIAS_FILES for aliases.
# - m_pine	 search pine(1) addressbook files for aliases.
# - m_palm	 search your Palm addressbook file.

METHODS="m_inmail m_passwd m_finger"


#
# If you want m_finger to ask other host then localhost, create a list here:
# (a space separated list):
#
#M_FINGER_HOSTS="master.debian.org va.debian.org localhost"


# - m_muttalias      query set of mutt alias files:
#
# Set MUTTALIAS_FILES below to list of files in MUTT_DIRECTORY that
# contain mutt aliases. File names without leading slash will have
# $MUTT_DIRECTORY (defaults to $HOME/.mutt or $HOME, if ~/.mutt does
# not exist) prepended before the file name. Absolute file names
# (beginning with /) will be taken direct.
#MUTT_DIRECTORY="$HOME/.mutt"
#MUTTALIAS_FILES=".muttrc .mail_aliases muttrc aliases"


# - m_pine	search pine addressbook files for aliases:
#
# This module first inspects the variable PINERC. If it isn't set, the
# default `/etc/pine.conf /etc/pine.conf.fixed .pinerc' is used. To
# suppress inspecting the PINERC variable, set it to "no". It than
# takes all address-book and global-address-book entries from these
# pinerc files and adds the contents of the variable PINE_ADDRESSBOOKS
# to the list, which defaults to `/etc/addressbook .addressbook'. Then
# these addressbooks are searched for aliases. All filenames without
# leading slash are searched in $HOME.
#
#PINERC="/etc/pine.conf /etc/pine.conf.fixed .pinerc"
#PINE_ADDRESSBOOKS="/etc/addressbook .addressbook"


# - m_palm	search your Palm addressbook file:
#
# This module searches the Palm address database using the Palm::PDB
# and Palm::Address Perl modules from CPAN. It searches in the
# variable PALM_ADDRESS_DATABASE or if this isn't set in
# $HOME/.jpilot/AddressDB.pdb.
#
#PALM_ADDRESS_DATABASE="$HOME/.jpilot/AddressDB.pdb"


#
# If you want to use private modules set the MODULES_PATH to find them:
# (a space separated list):
#
#MODULES_PATH="/usr/lib/lbdb $HOME/.lbdb/modules"


#
# Do you want the output to be sorted?
# If you set this to "false" or "no", lbdbq won't sort the addresses
# but returns them in reverse order (which means that the most recent
# address in m_inmail database is first).
# If you set this to "name", lbdbq sorts the output by real name.
# If you set this to "address", lbdbq sorts the output by addresses
# (that's the default).
#
#SORT_OUTPUT=address
