Source: lbdb
Section: mail
Priority: optional
Maintainer: Roland Rosenfeld <roland@debian.org>
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 13),
               dh-elpa (>= 1.16),
               libauthen-sasl-perl <!nocheck>,
               libnet-ldap-perl <!nocheck>,
               libpalm-perl <!nocheck>,
               libvformat-dev <!nocheck>,
               perl
Rules-Requires-Root: no
Homepage: https://www.spinnaker.de/lbdb/
Vcs-Browser: https://github.com/RolandRosenfeld/lbdb
Vcs-Git: https://github.com/RolandRosenfeld/lbdb.git

Package: lbdb
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Suggests: abook,
          elpa-lbdb,
          finger,
          goobook,
          khard,
          libauthen-sasl-perl,
          libnet-ldap-perl,
          libpalm-perl,
          maildir-utils,
          mutt,
          procmail
Enhances: mutt
Description: Little Brother's DataBase for the mutt mail reader
 This package consists of a set of small tools, which collect mail
 addresses from several sources and offer these addresses to the mutt
 external query feature. At the moment the following modules are
 supported:
  - m_finger (uses the finger(1) command)
  - m_inmail (scans incoming mail for addresses)
  - m_passwd (searches /etc/passwd)
  - m_yppasswd (searches the YP password database)
  - m_nispasswd (searches the NIS password database)
  - m_getent (searches the configured password database)
  - m_pgp2, m_pgp5, m_gpg (searches your PGP or GnuPG keyrings)
  - m_fido (searches the Fidonet nodelist)
  - m_abook (uses the address book application abook(1))
  - m_goobook (uses goobook to read Google contacts)
  - m_addr_email (uses addr-email from the addressbook Tk program)
  - m_muttalias (searches your Mutt mail aliases)
  - m_pine (searches your Pine addressbook files)
  - m_wanderlust (search the WanderLust alias database)
  - m_palm (uses your Palm database; needs libpalm-perl package)
  - m_gnomecard (uses GnomeCard database files)
  - m_ldap (query some LDAP server)
  - m_evolution (search in the Evolution addressbook)
  - m_vcf (search in vcard files using libvformat)
  - m_khard (search a CardDAV address book via khard)
  - m_mu (search maidir-utils using mu-cfind)

Package: elpa-lbdb
Architecture: all
Depends: bbdb,
         emacsen-common (>= 2.0.8),
         lbdb,
         ${elpa:Depends},
         ${misc:Depends}
Breaks: lbdb (<< 0.45.2)
Replaces: lbdb (<< 0.45.2)
Enhances: lbdb
Section: lisp
Built-Using: ${misc:Built-Using}
Description: Little Brother's DataBase Emacs extensions
 This package is an extension of the lbdb package, which contains
 ldbd.el, an Emacs interface to the Little Brother's Datebase lbdb.
 .
 Additionally it contains the lbdb module m_bbdb, which allows lbdb to
 access addresses in BBDB (big brother database).
